{% extends 'base.html' %}
{% load static %}

{% block title %}
  Форма заявки
{% endblock %}

{% block content %}
  <header class="header">
    <img src="{% static 'img/logo.svg' %}" class="header-logo" />
    <a href="" class="header-exit">Выйти</a>
  </header>
  <div class="container">
    <form class="orders">
      <div class="row">
        <label for="us_address">Введите адрес</label>
        <input type="text" name="us_address" id="us_address" required />
      </div>
      <div class="row">
        <label for="us_date">Введите дату</label>
        <input type="date" name="us_date" id="us_date" required />
      </div>
      <div class="row">
        <label for="us_time">Введите время</label>
        <input type="time" name="us_time" id="us_time" required />
      </div>
      <div class="row">
        <label for="us_type_service">Вид услуги</label>
        <select name="us_type_service" id="us_type_service" required>
          <option value="общий клининг">общий клининг</option>
          <option value="генеральная уборка">генеральная уборка</option>
          <option value="послестроительная уборка">послестроительная уборка</option>
          <option value="химчистка ковров и мебели">химчистка ковров и мебели</option>
        </select>
      </div>
      <div class="row">
        <label for="us_type_pay">Вид оплаты</label>
        <select name="us_type_pay" id="us_type_pay" required>
          <option value="наличные">наличные</option>
          <option value="банковская карта">банковская карта</option>
        </select>
      </div>
      <button>Оставить заявку</button>
    </form>
  </div>
{% endblock %}
