{% extends 'base.html' %}
{% load static %}

{% block title %}
  Личный кабинет
{% endblock %}

{% block content %}
  <header class="header">
    <img src="{% static 'img/logo.svg' %}" class="header-logo" />
    <a href="" class="header-exit">Выйти</a>
  </header>
  <div class="container">
    <div class="container__head">
      <h2 class="container__head-title">Все заявки</h2>
      <a class="container__head-button" href="/form/">Создать заявку</a>
    </div>
    <hr />
    <div class="container__history">
      <div class="container__history-cols">
        <span>Вид услуги</span>
        <span>Адрес</span>
        <span>Тип оплаты</span>
        <span>Дата и время</span>
        <span>Статус</span> 
      </div>
      <div class="container__history-rows">
        {% for order in orders %}
            <div class="row">
                <span>{{order.service}}</span>
                <span>{{order.address}}</span>
                <span>{{order.method_pay}}</span>
                <span>{{order.dtime}}</span>
                <span>{{order.status}}</span>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
