{% extends 'base.html' %}


{% block title %}Домашние задания{% endblock %}

{% block content %}
    <div class="cards">
        <div class="card">
            <div class="card__head">
                <span>Повторить пройденный материал</span>
                <button>↗</button>
            </div>
            <div class="card__content">
                <p>Подробное описание домашнего задания</p>
            </div>
        </div>
        <div class="card">
            <div class="card__head">
                <span>Повторить пройденный материал</span>
                <button>↗</button>
            </div>
            <div class="card__content">
                <p>Подробное описание домашнего задания</p>
            </div>
        </div>
    </div>
{% endblock %}