{% extends 'base.html' %}
{% load static %}

{% block title %}
  Авторизация
{% endblock %}

{% block content %}
  <div class="auth">
    <div class="auth__content">
      <img src="{% static 'img/logo.png' %}" class="auth__content-logo" />
      <h1 class="auth__content-title">Авторизация</h1>
      <form action="">
        <div class="row">
          <label for="us_login">Логин</label>
          <input type="text" name="us_login" id="us_login" required />
        </div>
        <div class="row">
          <label for="us_password">Пароль</label>
          <input type="password" name="us_password" id="us_password" required />
        </div>
        <button>Войти</button>
        <span>
          У меня нет аккаунт.
          <a href="">Зарегистрироваться</a>
        </span>
      </form>
    </div>
  </div>
{% endblock %}
